/* .ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/


body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 235, 205);

}


h2 {
    font-family: "IBM Plex Mono", monospace, serif;
    font-weight: 700;
}


p, li {
    font-family: "IBM Plex Mono", monospace, serif;
    font-weight: 400;
    font-size: 2.5vh;

}


/* navbar */

/* Ícone rotativo */
.rotating-icon {
  display: inline-block;
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
  vertical-align: middle; /* Alinha verticalmente ao meio */
  animation: rotateBackAndForth 2s ease-in-out infinite;
}

.rotating-icon img {
  width: 40px; /* Ajuste o tamanho do SVG conforme necessário */
  height: 40px;
}

/* Animação de rotação vai e volta */
@keyframes rotateBackAndForth {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(0deg);
  }
}


.navbar {
  width: 100%;
  height: 100px;
  background: rgba(18, 18, 18, 0.3); /* Cor com transparência */
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #fff;
  position: fixed; /* Torna a barra de navegação fixa no topo */
  top: 0; /* Posiciona a barra no topo da página */
  left: 0;
  z-index: 1000; /* Garante que a barra de navegação fique acima de outros elementos */
}

.navbar .logo {
  font-family: "IBM Plex Mono", monospace, serif;
  font-weight: 500;
  font-size: 24px;
  padding-left: 40px;
  text-decoration: none;
  color: inherit;
}


.countdown {
  font-family: "IBM Plex Mono", monospace, serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  position: absolute;
  padding: 0 10px; /* Espaçamento interno para evitar que o texto encoste nas bordas */
  right: 230px;
  transform: translateY(-50%); /* Centraliza verticalmente dentro da navbar */
}


.logo:hover {
  font-size: calc(1.5rem + 3px); /* Aumenta em 3px ao passar o mouse */
  text-decoration: none; /* Mantém sem sublinhado */
}


.burger {
  font-size: 36px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  z-index: 1200;
  position: relative; /* Mantém o ícone de menu na posição correta */
  right: 32px; /* Ajusta o ícone de menu para a posição desejada */
}


/* menu */

.menu {
    width: 300px;
    height: 208px;
    background: rgba(210, 209, 209, 0.8); /* Cor com transparência */
    position: absolute;
    top: 100px;
    right: 36px;
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    z-index: 1900;
}


/* Estilo do menu quando a rolagem atinge 450px */
.menu.sticky {
  position: fixed;
  top: 100px; /* Ou outro valor conforme necessário */
  right: 36px;
  background: rgba(210, 209, 209, 0.9); /* Pode ajustar a cor conforme necessário */
  
}

.menu.active {
    display: flex; /* Exibe o menu ao clicar no burger */
}


.menu a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem; /* Tamanho da fonte para os links */
  transition: color 0.3s;
}


.menu a:hover {
    color: #ddd; /* Cor de destaque ao passar o mouse */
}


/* Estilo para o link ativo */
.menu a.active {
  color: rgba(18, 18, 18, 0.6); /* Cor para o link da página atual */
}


/*imagem topo*/

.image-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área da div */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(139, 0, 0, 0.8); /* Cor com transparência */
    pointer-events: none; /* Permite interação com os elementos abaixo */
}

.image-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.5vw;
    color: white; /* Cor do texto do subtítulo */
    position: absolute;
    bottom: 75px; /* Coloca o título colado na margem de baixo */
}

.title-container {
    position: absolute;
    bottom: 0; /* Coloca a div de título na parte inferior da imagem */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    width: 960px; /* Largura máxima do título */
    text-align: left; /* Centraliza o texto */
    padding: 0 0; /* Adiciona espaçamento lateral se necessário */
}




/* texto */

/* Container */
.container {
  width: 80%;
  margin: 0 auto; /* Centraliza o container */
  padding-top: 50px;
}

/* Estilo para o título */
h1 {
  text-align: center;
  color: #333;
}

/* Layout da galeria */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
  gap: 40px; /* Espaço entre os itens */
}

/* Estilo para cada orador */
.speaker {
  display: flex;
  align-items: flex-start;
  background: white;
  overflow: hidden;
  text-decoration: none; /* Remove sublinhado dos links */
  transition: transform 0.3s;
  position: relative;
}

/* Envolvente da imagem */
.image-wrapper {
  position: relative;
  width: 40%;
  height: 100%;
}

/* Estilo para as imagens */
.speaker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease; /* Suaviza a transição do overlay */
}

/* Overlay vermelho sobre a imagem */
.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Overlay vermelho com 50% de opacidade */
  opacity: 0;
  transition: opacity 0.3s ease; /* Suaviza a transição do overlay */
}

/* Efeito ao passar o mouse sobre a imagem */
.image-wrapper:hover::before {
  opacity: 1; /* Torna o overlay visível ao passar o mouse */
}

/* Informações do orador */
.speaker-info {
  padding: 20px;
  flex: 1; /* Permite que o texto ocupe o espaço restante */
  color: rgb(56, 56, 56);
  z-index: 1; /* Garante que o texto fique acima do overlay */
}

.speaker-info h2 {
  font-size: 24px;
  margin: 0;

}

.speaker-info p {
  font-size: 18px;
}

/* Efeito ao passar o mouse sobre a caixa toda */
.speaker:hover {
  transform: scale(1.05); /* Aumenta levemente o tamanho da caixa ao passar o mouse */
}





/* linha final */

.final-line {
  border: none;
  height: 2px; /* Espessura da linha */
  margin-top: 50px; /* Espaçamento acima da linha */
  width: 100%; /* Ocupa toda a largura da página */
}





/* apoios */

/* Seção principal */
.white-section {
  width: 100%;
  background-color: #FFF; /* Fundo branco */
  display: flex;
  flex-direction: row; /* Alinhar itens lado a lado */
  align-items: center;
  justify-content: space-between; /* Espaço entre os elementos */
  padding: 0px; /* Adiciona espaçamento interno */
  gap: 20px; /* Espaço entre os itens */
}

/* Textos informativos na esquerda */
.white-section .text-info {
  width: 25%; /* Ocupar 40% da largura */
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Alinha o texto à esquerda */
  color: rgb(56, 56, 56); /* Texto em preto */
}

.white-section .text-info p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
  color: rgb(56, 56, 56);
}

/* Ajustes na image-side */
.white-section .image-side {
  width: 50%; /* Ocupar 30% da largura */
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-section .image-side img {
  width: auto;
  max-height: 200px; /* Limita a altura da imagem */
  object-fit: contain;
}

/* Seção de apoios */
.white-section .support-logos {
  width: 25%; /* Ocupar 30% da largura */
  text-align: right;
  margin-top: 20px;
}

.white-section .support-logos h3 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(56, 56, 56);
}

/* Container para os logotipos */
.white-section .logos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Quebrar linha para muitos logotipos */
  gap: 20px; /* Espaço entre as caixas dos logotipos */
  padding: 0 20px; /* Adiciona padding lateral */
}

/* Estilo fixo para a caixa de cada logotipo */
.white-section .logo-box {
  width: 75px; /* Largura fixa da caixa */
  height: 50px; /* Altura fixa da caixa */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Fundo claro para padronizar os logotipos */
  overflow: hidden; /* Garante que o conteúdo se encaixe na caixa */
}

.white-section .logos-container img {
  max-height: 100%; /* A imagem não pode ultrapassar a altura da caixa */
  max-width: 100%; /* A imagem não pode ultrapassar a largura da caixa */
  object-fit: contain; /* Ajusta o logotipo ao tamanho da caixa */
  transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}




@media only screen and (min-width: 1780px) {

  .image-title {
    font-size: 5vh;
  }
  
  .section-title {
    font-size: 3.5vh;
  }
  
  p, li {
    font-size: 2vh;
  }
  
  }

  

@media only screen and (min-width: 1200px) and (max-width: 1800px) {


/* Layout da galeria */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
  gap: 30px; /* Espaço entre os itens */
}


}


@media only screen and (min-width: 961px) and (max-width: 1200px) {

  /* navbar */
  .navbar {
    height: 100px; /* Ajusta a altura da navbar */
    box-sizing: border-box;
    padding: 0;
  }


  .burger {
    font-size: 32px; /* Ajusta o tamanho do ícone do menu */
    right: 15px;
    padding: 0;
    box-sizing: border-box;
  }


  .menu.active, .menu.sticky {
    right: 20px; /* Ajusta o menu para a posição visível */
  }

  .image-container {
    height: 400px; /* Ajusta a altura da imagem */
  }

  .title-container {
    width: 90%; /* Ajusta a largura da container */
    padding: 0 10px; /* Ajusta o padding lateral */
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza horizontalmente */
  }

 
  /* texto */

.container{
  width: 960px;
  padding: 20px; /* Ajusta o padding */
  box-sizing: border-box;
}




/* Layout da galeria */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 colunas de largura igual */
  gap: 30px; /* Espaço entre os itens */
}



.speaker-info h2 {
  font-size: 28px;
  margin: 0;
}

.speaker-info p {
  font-size: 24px;
}


/* ------- apoios ------- */

.white-section {
  flex-direction: column; /* Elementos em coluna */
  align-items: center;
}

.white-section .text-info,
.white-section .image-side,
.white-section .support-logos {
  width: 100%; /* Ocupar 100% da largura no modo responsivo */
  text-align: center;
  font-size: 14px;
  padding: 0 0px;
}

.white-section .image-side {
  margin-bottom: 20px; /* Espaço entre a imagem e a seção de logotipos */
}

.white-section .support-logos {
  margin-top: 0; /* Remover margem no topo */
}

}










@media only screen and (min-width: 480px) and (max-width: 960px) {

  /* navbar */
  .navbar {
    height: 90px; /* Ajusta a altura da navbar */
    box-sizing: border-box;
    padding: 0;
  }

  .navbar .logo {
    font-size: 20px; /* Aumenta o tamanho do logo */
    padding-left: 20px; /* Ajusta o padding à esquerda */
  }

  .rotating-icon img {
    width: 35px; /* Ajusta o tamanho do ícone */
    height: 35px;
  }

  .burger {
    font-size: 32px; /* Ajusta o tamanho do ícone do menu */
    right: 15px;
    padding: 0;
    box-sizing: border-box;
  }

  /* menu */
  .menu {
      width: 240px;
      height: 200px;
      top: 90px;

  }

  .menu.active, .menu.sticky {
    right: 20px; /* Ajusta o menu para a posição visível */
  }

  .image-container {
    height: 400px; /* Ajusta a altura da imagem */
  }

  .title-container {
    width: 85%; /* Ajusta a largura da container */
    padding: 0 10px; /* Ajusta o padding lateral */
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza horizontalmente */
  }



  .image-title {
    font-size: 3.5vw; /* Ajusta o tamanho do título */
    bottom: 30px; /* Ajusta o alinhamento */
  }

  
  /* texto */

.container{
  width: 100%;
  padding: 40px; /* Ajusta o padding */
  box-sizing: border-box;
}



.text-section p, li{
  font-size: 2vh;
  
}



.text-section h3{
font-size: 2.5vh;
}





  

.gallery {
  grid-template-columns: repeat(1, 1fr); /* 1 coluna na galeria em telas muito pequenas */
  gap: 50px;
}



/* Informações do orador */

.speaker-info h2 {
  font-size: 28px;
  margin: 0;

}

.speaker-info p {
  font-size: 24px;
}

/* Efeito ao passar o mouse sobre a caixa toda */
.speaker:hover {
  transform: scale(1.05); /* Aumenta levemente o tamanho da caixa ao passar o mouse */
}



/* ------- apoios ------- */

.white-section {
  flex-direction: column; /* Elementos em coluna */
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.white-section .text-info,
.white-section .image-side,
.white-section .support-logos {
  width: 100%; /* Ocupar 100% da largura no modo responsivo */
  text-align: center;
  font-size: 12px;
  padding: 0 20px;
  box-sizing: border-box; /* Garante que padding esteja dentro da largura */

}


.white-section .image-side {
  max-width: 100%; /* Limita a largura máxima ao viewport */
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
  margin-bottom: 20px; /* Espaço entre a imagem e a seção de logotipos */
  overflow: hidden; /* Evita que o conteúdo exceda o container */
  height: auto; /* A altura será definida pelo conteúdo */
  box-sizing: border-box;
}

.white-section .image-side img {
  width: auto; /* A largura será ajustada automaticamente */
  max-width: 100%; /* Limita a largura ao container */
  max-height: 100%; /* Evita que a altura ultrapasse o container */
  object-fit: contain; /* Mantém a proporção da imagem sem cortá-la */
}

.white-section .support-logos {
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
}


}



@media only screen and (max-width: 479px) {

  /* navbar */
  .navbar {
    width: 100%;
    height: 80px;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar .logo {
      font-size: 18px; /* Tamanho reduzido do logo */
      padding-left: 10px; /* Remove padding à esquerda */
  }

  .rotating-icon img {
      width: 30px; /* Reduz o tamanho do ícone */
      height: 30px;
  }

  .burger {
      font-size: 28px; /* Tamanho reduzido do ícone do menu */
      position: fixed;
      top: 20px;
      right: 10px;
      padding: 0;
      box-sizing: border-box;
  }

  /* menu */
  .menu {
      top: 80px;
      width: 100%;
      left: 0;
      background: rgba(210, 209, 209, 0.95); /* Cor com transparência */
      padding: 20px;
      box-sizing: border-box;
  }

  .menu.active, .menu.sticky {
      right: 0; /* Ajusta o menu para a posição visível */

  }




  .image-container {
      height: 250px; /* Reduzido para telas menores */
      padding: 0; /* Remove qualquer padding */
      box-sizing: border-box; /* Garante que padding não afete a largura total */
  }

  .title-container {
      width: 90%; /* Ajustado para largura menor em telas pequenas */
      padding: 0 10px; /* Adicionado padding lateral para ajuste */
      text-align: center; /* Centraliza o texto para telas menores */
      margin: 0 auto; /* Centraliza horizontalmente */
  }

  .image-title {
      font-size: 8vw; /* Ajustado para maior responsividade em telas menores */
      bottom: 20px; /* Ajustado para melhor alinhamento em telas menores */
  }


  h1 {
    font-size: 2.75vh;
  }


  
  /*
  .text-section p, li{
       font-size: 1.5vh;

  }
  


  .text-section h3{
    font-size: 2vh;
}


*/

  /* texto */

  .container{
    width: 100%;
    box-sizing: border-box;
  }
  
  


    h3{
      font-size: 2vh;
    }

    p{
      font-size: 1.75vh;
    }
  


   /* Informações do orador */

.speaker-info h2 {
  font-size: 24px;
  margin: 0;

}

.speaker-info p {
  font-size: 20px;
}
    

.gallery {
  grid-template-columns: 1fr; /* 1 coluna na galeria em telas muito pequenas */
  gap: 20px;
  padding: 0 20px 20px 20px;
}




  /* apoios */
  .white-section {
    box-sizing: border-box;
    width: 100%;
    flex-direction: column; /* Alinha texto e imagem verticalmente */
    height: auto; /* Ajusta a altura automaticamente */
  }

  .white-section .text-info {
    width: 100%; /* Ocupa a largura total */
    padding: 15px 0 25px 0; /* Ajusta o padding */
    text-align: center; /* Centraliza o texto */
  }

  .white-section .text-info p {
    font-size: 13px; /* Ajusta o tamanho da fonte */
  }

  .white-section .image-side {
    box-sizing: border-box;
    width: 100%; /* Ocupa a largura total */
    padding-right: 0; /* Remove o padding */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
  }

  .white-section .image-side img {
    width: 100%; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
  }

  
.white-section .support-logos {
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
}


}