body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

header {
    padding: 20px;
    text-align: center;
    background: #000;
    color: white;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    padding: 20px;
}

.item img,
.item video {
    width: 100%;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    transition: transform .2s ease;
}

.item img:hover,
.item video:hover {
    transform: scale(1.03);
}

/* MODAL */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    max-width: 80%;
    text-align: center;
}

.modal-content img,
.modal-content video {
    width: 100%;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}
