/* .ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/


body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(210, 209, 209, 0.2);

}

h1 {
    font-family: "IBM Plex Mono", monospace, serif;
    font-weight: 700;
    font-style: normal;
}


h2 {
    font-family: "IBM Plex Mono", monospace, serif;
    font-weight: 700;
    font-size: 4vw;

}


p, li {
    font-family: "IBM Plex Mono", monospace, serif;
    font-weight: 400;
    font-size: 1.25vw;

}


/* navbar */

/* Ícone rotativo */
.rotating-icon {
  display: inline-block;
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
  vertical-align: middle; /* Alinha verticalmente ao meio */
  animation: rotateBackAndForth 2s ease-in-out infinite;
}

.rotating-icon img {
  width: 40px; /* Ajuste o tamanho do SVG conforme necessário */
  height: 40px;
}

/* Animação de rotação vai e volta */
@keyframes rotateBackAndForth {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(0deg);
  }
}


.navbar {
  width: 100%;
  height: 100px;
  background: rgba(18, 18, 18, 0.3); /* Cor com transparência */
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #fff;
  position: fixed; /* Torna a barra de navegação fixa no topo */
  top: 0; /* Posiciona a barra no topo da página */
  left: 0;
  z-index: 1000; /* Garante que a barra de navegação fique acima de outros elementos */
}

.navbar .logo {
  font-family: "IBM Plex Mono", monospace, serif;
  font-weight: 500;
  font-size: 24px;
  padding-left: 40px;
  text-decoration: none;
  color: inherit;
}


.countdown {
  font-family: "IBM Plex Mono", monospace, serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  position: absolute;
  padding: 0 10px; /* Espaçamento interno para evitar que o texto encoste nas bordas */
  right: 230px;
  transform: translateY(-50%); /* Centraliza verticalmente dentro da navbar */
}


.logo:hover {
  font-size: calc(1.5rem + 3px); /* Aumenta em 3px ao passar o mouse */
  text-decoration: none; /* Mantém sem sublinhado */
}


.burger {
  font-size: 36px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  z-index: 1200;
  position: relative; /* Mantém o ícone de menu na posição correta */
  right: 32px; /* Ajusta o ícone de menu para a posição desejada */
}


/* menu */

.menu {
    width: 300px;
    height: 208px;
    background: rgba(210, 209, 209, 0.8); /* Cor com transparência */
    position: absolute;
    top: 100px;
    right: 36px;
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    z-index: 1900;
}


/* Estilo do menu quando a rolagem atinge 450px */
.menu.sticky {
  position: fixed;
  top: 100px; /* Ou outro valor conforme necessário */
  right: 36px;
  background: rgba(210, 209, 209, 0.9); /* Pode ajustar a cor conforme necessário */
  
}

.menu.active {
    display: flex; /* Exibe o menu ao clicar no burger */
}


.menu a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem; /* Tamanho da fonte para os links */
  transition: color 0.3s;
}


.menu a:hover {
    color: #ddd; /* Cor de destaque ao passar o mouse */
}


/* Estilo para o link ativo */
.menu a.active {
  color: rgba(18, 18, 18, 0.6); /* Cor para o link da página atual */
}


/*imagem topo*/

.image-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área da div */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(139, 0, 0, 0.8); /* Cor com transparência */
    pointer-events: none; /* Permite interação com os elementos abaixo */
}

.image-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.5vw;
    color: white; /* Cor do texto do subtítulo */
    position: absolute;
    bottom: 75px; /* Coloca o título colado na margem de baixo */
}

.title-container {
    position: absolute;
    bottom: 0; /* Coloca a div de título na parte inferior da imagem */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    width: 960px; /* Largura máxima do título */
    text-align: left; /* Centraliza o texto */
    padding: 0 0; /* Adiciona espaçamento lateral se necessário */
}




/* texto */

/* Container */
.container {
  width: 960px;
  margin: 0 auto; /* Centraliza o container */
  padding: 20px;
}

/* Estilo para o título */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Layout da galeria */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 colunas de largura igual */
  gap: 40px; /* Espaço entre os itens */
}

/* Estilo para cada orador */
.speaker {
  display: flex;
  align-items: flex-start;
  background: white;
  overflow: hidden;
  text-decoration: none; /* Remove sublinhado dos links */
  transition: transform 0.3s;
  position: relative;
}

/* Envolvente da imagem */
.image-wrapper {
  position: relative;
  width: 40%;
  height: 100%;
}

/* Estilo para as imagens */
.speaker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease; /* Suaviza a transição do overlay */
}

/* Overlay vermelho sobre a imagem */
.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.3); /* Overlay vermelho com 50% de opacidade */
  opacity: 0;
  transition: opacity 0.3s ease; /* Suaviza a transição do overlay */
}

/* Efeito ao passar o mouse sobre a imagem */
.image-wrapper:hover::before {
  opacity: 1; /* Torna o overlay visível ao passar o mouse */
}

/* Informações do orador */
.speaker-info {
  padding: 20px;
  flex: 1; /* Permite que o texto ocupe o espaço restante */
  color: rgb(56, 56, 56);
  z-index: 1; /* Garante que o texto fique acima do overlay */
}


.speaker-info h2 {
  font-size: 1.25rem;
  margin: 0;

}


.speaker-info p {
  font-size: 1rem;
}

/* Efeito ao passar o mouse sobre a caixa toda */
.speaker:hover {
  transform: scale(1.05); /* Aumenta levemente o tamanho da caixa ao passar o mouse */
}





/* linha final */

.final-line {
  border: none;
  height: 2px; /* Espessura da linha */
  margin-top: 50px; /* Espaçamento acima da linha */
  width: 100%; /* Ocupa toda a largura da página */
}


/* apoios */

.white-section {
    width: 100%;
    height: 250px;
    background-color: #FFF; /* Fundo branco */
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-section .text-info {
    width: 40%;
    flex: 1;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Alinha o texto à esquerda */
    color: rgb(56, 56, 56); /* Texto em preto */
}

.white-section .text-info p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 300;
    color: rgb(56, 56, 56);
}

.white-section .image-side {
    flex: 1;
    height: 100%;
    display: flex;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.white-section .image-side img {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain; /* A imagem se adapta ao tamanho da div */
}

